<%-include('../../partials/header.ejs') %>
<%-include('../../partials/navbar.ejs') %>
    <body>
    <body>
        <div class="container">
            <hr>
            <div class="jumbotron">
                <h1 class="display-4">Somente administradores e moderadores podem acessar esta página!!</h1>
                <hr class="my-4">
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="/" role="button">Página inicial</a>
                </p>
              </div>
            <hr>
        </div>
    </body>
<%-include('../../partials/footer.ejs') %>